.card-race {
  width: 280px;
  min-width: 280px;
  height: 267px;
  color: #fff;
  border-radius: 29px;
  padding: 23px;
  transition: 0.5s ease;
  cursor: pointer;
  position: relative;
  box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.1);
}
.card-race .arrow {
  margin-top: 80px;
  float: right;
}
.card-race h6 {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 0px;
}
.card-race i {
  font-size: 30px;
  background: none !important;
  padding: 0px;
}

.card-race-hover-effect:nth-child(1):hover {
  transform: translateX(-130px);
}

.card-race-hover-effect:nth-child(2):hover {
  transition: 0.5s ease;
  transform: translateX(-330px) !important;
  cursor: pointer;
}

.by-btn {
  width: 216px;
  height: 49px;
  background: linear-gradient(to right, #7040FF, #9862FF);
  color: #fff;
  border: none;
  border-radius: 10px;
}
