@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400&display=swap');

*:focus {
    outline: none !important;
}

.flight-list-box .flight-logo {
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flight-list-box .flight-logo img {
    max-width: 63px;
}

.serachnavs li a {
    width: 100px;
}

.rt-banner-searchbox {
    height: 129px;
    font-size: 20px !important;
}
.serachnavs li a {
    font-size: 16px;
}

.serachnavs li a i {
    margin-top: 6px;
}

body, h1, h2, h3, h4, h5, h6, p, pre, a, button {
    font-family: 'Source Sans Pro';
}

.single-rt-banner .rt-banner-content h1 {
    line-height: 70px;
    margin-bottom: 20px;
}

*:focus, *:active {
    box-shadow: none;
}

input[type="checkbox"] {
    cursor: pointer;
    border: none;
}

label[for] {
    cursor: pointer;
}

.fly-form {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 5px 14px rgba(0,0,0,.05);
}

.fly-form input {
    border: 2px solid rgba(0,0,0,.01);
    border-radius: 8px;
    height: 40px;
    font-size: 16px;
    padding-left: 10px;
    box-shadow: 0px 5px 14px rgba(0,0,0,.05);
}

.fly-form input:active, .fly-form input:focus {
    box-shadow: 0px 5px 14px rgba(0,0,0,.05) !important;
}

.effect-input {
    transition: .6s ease;
}

.effect-input.hide {
    opacity: 0;
}

.hide {
    display: none !important;
    transition: .6s ease;
    opacity: 0;
    transform: translateY(50px);
}

.msg {
    margin-left: -20px;
    background: url('/images/msg.svg');
    background-size: cover;
    font-size: 16px;
    color: #fff;
    min-width: 400px;
    min-height: 50px;
    border-radius: 30px;
    /*transform: scale(.9);*/
    margin-top: 0px;
    padding: 0 50px 0 50px;
    display: flex;
    align-items: center;
}
/*.msg:after {*/
/*    content: ' ';*/
/*    height: 68px;*/
/*    width: 210px;*/
/*    background: url("/images/msgborder.svg");*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*    position: absolute;*/
/*    z-index: -1;*/
/*    margin-left: -244px;*/
/*    margin-top: -34px;*/
/*}*/

.rt-site-footer .footer-top .footer-subscripbe-box .form-control {
    color: #fff;
    font-size: 18px;
}

.rt-site-footer .footer-top .footer-subscripbe-box .btn {
    font-family: sans-serif;
}

.flight-box .trip-to span, .flight-box .trip-form span {

}

.single-input button {
    background: rgba(0, 0, 0, 0) !important;
    position: absolute !important;
    color: #5701ff !important;
    top: 0 !important;
    right: 0 !important;
    margin-top: 2px !important;
    margin-right: 6px !important;
    font-size: 33px !important;
}

.dialog-item {
    display: block;
    overflow: hidden;
    padding-bottom: 15px;
}

.dialog-item .msg {
    width: 450px;
}

.dialog-item .single-input {
    width: 450px;
    margin-top: 7px;
    float: right;
    text-align: right;
    display: flex;
    justify-content: end;
    align-items: center;
}

.rt-banner-height .col-lg-9 {
    margin-top: 198px;
    position: relative;
}

.rt-banner-height {
    height: fit-content;
}

.info-selfcontent {
    margin-top: 50px;
}

.exp-row__title-link {
    color: #fff !important;
    text-align: center !important;
}



/* Tabs */

.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    width: 150px;
    height: 40px;
    text-align: center;
    color: #000;
    font-size: 17px;
    font-weight: 600;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link i {
    margin-right: 5px;
    margin-left: -5px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #4a56f9;

    border-top: none !important;
    border-left: none !important;
    border-right: none !important;

    border-bottom: 2px solid #4a56f9;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link a {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;

    border-bottom: 2px solid rgba(0,0,0,0);
}

.group-icons .second {
    transform: translateX(-10px);
}

i.avia {
    background: #847eef;
    padding: 5px;
    border-radius: 50%;
    color: #fff !important;
}

i.train {
    background: #f92853;
    padding: 5px;
    border-radius: 50%;
    color: #fff !important;
}

i.bus {
    background: #84c03b;
    padding: 5px;
    border-radius: 50%;
    color: #fff !important;
}


/* Viewport */

@media (max-width: 900px) {
    html, body {
        overflow-x: hidden !important;
        width: 100%;
    }

    p {
        font-size: 19px;
    }

    .rt-section-title span {
        font-size: 16px;
    }

    .rt-section-title {
        font-size: 45px;
        line-height: 38px;
    }

    .services-box-1 h4 {
        font-size: 32px;
    }

    .services-box-1 p {
        font-size: 17px;
    }

    .cta-box-1 h4 {
        font-size: 24px;
    }

    .cta-box-1 p {
        font-size: 16px;
        line-height: 17px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .cta-box-1 h4 span {
        font-size: 19px;
        line-height: 20px !important;
    }

    .container {
        margin-left: 0px;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }

    .rt-banner-height {
        height: fit-content;
    }

    .rt-banner-height .col-lg-9 {
        margin-top: 0px;
    }

    .rt-site-header.rt-fixed-top, .main-header.rt-fixed-top {
        position: relative;
        background: #9232f5;
    }

    .menu-click {
        background: rgba(0,0,0,0);
    }

    .menu-click span {
        background: #fff;
    }

    .main-menu ul {
        border: none !important;
    }

    .single-rt-banner .rt-banner-content h1 {
        font-size: 54px;
        line-height: 47px;
    }

    .single-rt-banner .rt-banner-content p {
        font-size: 22px;
    }

    .dialog-item {
        width: 100%;
        margin: 0 auto;
    }

    .dialog-item .msg {
        width: 100% !important;
        margin-left: -23px !important;
        line-height: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 48px !important;
    }
    .dialog-item .single-input {
        max-width: 95%;
        float: right;
    }

    .info-selfcontent {
        margin-top: 50px;
    }

    form button {
        float: right;
    }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
        width: 100% !important;
    }

    .nav-tabs .nav-item {
        width: 50%;
        margin-bottom: 15px;
    }

    .modal-tickets-tab {
        display: flex;
        justify-content: flex-start;
    }

    .modal-tickets-tab .group-icons {
        margin-left: -17px;
    }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
        text-align: left;
    }

    .serachnavs {
        display: flex;
        justify-content: space-around;
    }

    .serachnavs li {
        width: 19%;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .serachnavs li:nth-child(1) {
        width: 100%;
    }
    .serachnavs li:nth-child(1) a {
        border-radius: 4px;
    }

    .serachnavs li a {
        width: 100% !important;
        border-radius: 50%;
    }
}